/* 
    Document   : style
    Created on : 08.05.2012, 23:55:37
    Author     : ns130291
    Description:
        Purpose of the stylesheet follows.
*/

.button{
    display: inline-block;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px 0;
    margin-left: 5px;
    padding: 1px 5px;
    cursor: pointer;
}

.button:hover{
    background-color: gray;
}

.receipttitle{
    width: 300px;
    display: inline-block;
}

.right{
    float: right;
}

.clear{
    clear: both;
}

#popup{
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightgray;
    width: 700px;
    padding: 20px;
}

#pcontent{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
}

